# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

DockerFeed/stacks/
.vscode/
.idea/
venv/
output/
logs/
ArenaDeliveryDockerStandalone/
tests/tempFolderStore/
tests/cacheFolder/
tests/tests/
docker-compose.build.*.yml
docker-compose.publish.*.yml
docker-compose.test.*.yml
docker-compose.run.*.yml
docker-compose.digest*.yml